/* Estilos generales */
body {
    font-family: 'Jost', Sans-serif;
    background-color: #222;
    color: #fff;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    color: #ffcc00;
    font-size: 3em;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

/* Estilos para el botón de mostrar más/menos */
.boton-mostrar {
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #ffcc00;
    color: #222;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.boton-mostrar:hover {
    background-color: #ff9900;
    transform: scale(1.05);
}


/* Barra de navegación */
.nav {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    padding: 15px 30px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    font-weight: bold;
}

.nav a {
    color: #ffcc00;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.nav a:hover {
    background-color: #ffcc00;
    color: #222;
}

.nav .acciones-usuario {
    gap: 20px;
}

.nav .acciones-usuario a.boton {
    background-color: #ff6f61;
    color: white;
}

.nav .acciones-usuario a.boton:hover {
    background-color: #f44336;
    transform: scale(1.05);
}

/* Cartelera de películas */
.cartelera {
    display: flex;
    margin: 20px auto;
    max-width: 1200px;
    height: 100%;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.pelicula {
    width: 200px;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.2s ease, box-shadow 0.3s ease;
    text-decoration: none;
}

.pelicula:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(255, 255, 255, 0.6);
}

.pelicula img {
    width: 100%;
}

/* Ajuste responsivo */
@media (max-width: 768px) {
    .nav {
        flex-direction: column;
        align-items: center;
    }

    .cartelera {
        flex-direction: column;
        align-items: center;
    }

    .pelicula {
        width: 90%;
    }
}

/* Estilo para la pantalla */
.pantalla {
    width: 20%;
    margin: auto;
    background-color: #555;
    color: #fff;
    text-align: center;
    line-height: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

    /* 🔹 PIE DE PÁGINA */
    .piepagina {
        background-color: #333;
        color: #fff;
        padding: 20px 0;
        text-align: center;
    }

    .piepagina a {
        color: #ffcc00;
        text-decoration: none;
        margin: 0 10px;
    }

    .piepagina a:hover {
        color: #ff9900;
    }